#public_top{
    position: relative;
    width: 100%;
    height: 30px;
    background: #150300;
}
#public_top .public_top_item{
    width: 960px;
    height: 30px;
    position: relative;
    margin: 0 auto;
}
.public_top_item .public_top_left{
    position: relative;
    /*width: 474px;*/
    height: 30px;
    float: left;

}
.public_top_item .public_top_left li{
    float: left;
    background: url("../../img/top_icon.png") no-repeat  right 14px;
    line-height: 30px;
    padding-right: 14px;
    margin-right: 14px;
}
.public_top_left .no_dot{
    background: none;
}
.public_top_item .public_top_left li a{
    font-size: 13px;
    color: #c0c0c0;
}
.public_top_left li a:hover{
    color: #fff;
}
.public_top_right{
    float: right;
}
.public_top_right li {
    float: left;
    line-height: 30px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
.public_top_right .phone{
    background: url("../../img/top_icon.png")no-repeat 0 -16px;
    line-height: 30px;
    padding-left: 26px;
    margin-right: 24px;
}

.public_top_right .help{
    background: url("../../img/top_icon.png")no-repeat 0 -46px;
    line-height: 30px;
    padding-left: 35px;
}
.public_top_right .Eng{
    margin-left: 24px;
}
.public_top_right .usa{
    float: right;
    margin-left: 14px;
}

#public_header_nav{
    position: relative;
    height: 293px;
    background-image: url("../../img/head_bg.png");
    z-index: -1;
}
#public_header_nav .header_nav_box{
    position: relative;
    width: 960px;
    height: 100px;
    background: url("../../img/nav_bg.png");
    margin: 0 auto;
}
.header_nav_box .nva_box_left{
    position: relative;
    float: left;
    width: 260px;
    height: 100px;
}
.shopping{
    height: 100px;
    background: url("../../img/nva_packet.png")no-repeat 0 12px;
}
.shopping p{
    color: #ffffff;
    font-size: 20px;
    position: relative;
    top: 28px;
    left: 88px;
}
.shopping a{
    position: absolute;
    width: 115px;
    height: 25px;
    background: url("../../img/nva_packet.png")no-repeat 0 -86px;
    top: 66px;
    left: 94px;
    color: #ffa40b;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    text-underline: none;
}
.shopping a:hover{
    color: #f8d257;
    text-decoration: none;
}

.nav_logo h1{
    position: absolute;
    width: 223px;
    height: 94px;
    display: inline-block;
    margin: 8px 0 0 110px;
}
.search_box{
    position: relative;
    width: 292px;
    height: 31px;
    background: url("../../img/search_box.png");
    float: right;
    margin-top: 35px;
    overflow: hidden;
}
.search_box input::-webkit-input-placeholder{
    color: #393a37;
}
.search_box input{
    width: 250px;
    height: 31px;
    background: none;
    outline: none;
   text-indent: 20px;
    border: none;
}

.header_nav_list{
    position: relative;
    height: 36px;
    width: 960px;
    margin: 0 auto;
    padding-top: 8px;
}
.header_nav_list li{
    float: left;
    height: 28px;
    margin-right: 2px;
}
.header_nav_list a{
    height: 28px;
    float: left;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
    border-radius: 6px;

}
.header_nav_list strong{
    float: left;
    height: 28px;
    font-weight: normal;
    font-family: Arial;
    border-radius: 6px;

}
.header_nav_list span{
    float: left;
    height: 28px;
    padding:0 16px;
    border-radius: 6px;

}
.active a{
    border-radius: 6px;
    /*background: url("../../img/active_hover.jpg")repeat-x 0 -56px;*/
    background: url("../../img/active_hover.jpg")repeat-x;
}
.header_nav_list a:hover{
    color: #fff;
    background: url("../../img/active_hover.jpg")repeat-x;
    border-radius: 6px;
}
.header_nav_list a:active{
    color: #770d02;
}
.header_nav_list strong:hover{
    /*background: url("../../img/active_hover.jpg")repeat-x;*/
    /*border-radius: 6px;*/
}
.header_nav_list span:hover{
    /*border-radius: 6px;*/
    /*background: url("../../img/active_hover.jpg")repeat-x;*/
}
.header_nav_list .active{
    padding-left: 24px;
}
.header_nav_list li:first-child{
    padding-left: 24px;
}
.header_nav_list li:last-child{
    padding-right: 24px;
}
/*<!--中间内容部分-->*/
#content{
    position: relative;
    width: 1000px;
    margin: -130px auto 0;
    background: url("../../img/conten_bg.png")repeat-y -1000px 0;
}
.content_top{
    width: 1000px;
    background: url("../../img/conten_bg.png")no-repeat;
    z-index: 3;
}
.content_bottom{
    width: 1000px;
    background: url("../../img/conten_bg.png")no-repeat -2000px bottom;
     padding-top: 10px;
}
.content_ad{
    position: relative;
    width: 940px;
    height: 303px;
    margin: 0 auto;
}

.content_ad ul,.content_ad li,.content_ad h2,.content_ad p{position: absolute;}
.content_ad ul{
      top: 0;left: 0;z-index: 1;
}
.content_ad li{
    top: 0;left: 0;
}
.content_ad a{}
.content_ad h2{
    width: 268px;
    left: 0;bottom: 0;
    z-index: 3;
    color: #ffc600;
    font-size: 25px;
    line-height: 52px;
    text-align: center;
}
.content_ad p{
    z-index: 3;
    bottom: 0;
    color: #ffffff;
    font-size: 13px;
    left: 268px;
    line-height: 18px;
    margin-bottom: 9px;
    width: 648px;
}
.content_ad .bg{
    width: 940px;
    height: 52px;
    background: #000;
    filter: alpha(opacity:80);
    opacity: 0.8;
    position: absolute;bottom: 0;
    z-index: 2;
}
.main{
    width: 940px;
    height: 100px;
    margin: 0 auto;
    /*background: #dc0f0a;*/
}
.clear{
    zoom: 1;
}
.side_left{
    position: relative;
    width: 209px;
    float: left;
}
.side_right{
    position: relative;
    width: 706px;
    float: right;
}
.module_menu{
    position: relative;
    height: 29px;
    padding-top: 28px;

}
.module_menu h2{
    display: block;
    height: 29px;
    background: url("../../img/list_bg.png") repeat-x 0 -58px;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    line-height: 29px;
}
.module_menu h2 strong{
    display: block;
    height: 29px;
    background: url("../../img/list_bg.png") no-repeat;
}
.module_menu h2 span{
    display: block;
    height: 29px;
    background: url("../../img/list_bg.png") no-repeat right -29px;
}

.module_list{
    /*position: relative;*/
    background: url("../../img/list_bg_b.png")repeat-y;

}
.module_list{
    margin-bottom: 20px;
}
.module_list ul{
    background: url("../../img/list_bg_b.png")no-repeat  -209px bottom;
    padding: 24px 8px  15px;
}
.module_list li{}
.module_list a{
    display: block;
    font-size: 13px;
    height: 27px;line-height: 27px;
    border-bottom: 1px solid #fff;
    color: #434343;
    text-decoration: none;
    padding-left: 30px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.module_list a:hover{
    color: #b20e00;
    text-decoration: none;
    background: #fae191;
}
.module_join{
    display: block;
    width: 209px;
    background: url("../../img/list_bg_2.png")repeat-y -209px 0;
}
.module_join_t{
    width: 209px;
    background: url("../../img/list_bg_2.png")no-repeat;
}
.module_join_d{
    width: 209px;
    background: url("../../img/list_bg_2.png")no-repeat -418px bottom;
}

.Join_form{
    position: relative;
    width: 180px;
    margin: 0 auto;
}
.Join_form p{
    width: 180px;
    font-size: 15px;
    line-height: 18px;
    color: #434343;
    margin: 0 auto;
    padding: 12px 0;
}
.Join_form .text{
    width: 175px;
    height: 25px;
    line-height: 25px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-left: 1px solid #9c9c9c;
    border-top: 1px solid #9c9c9c;
    margin: 0 auto;
    outline: none;
}
.Join_form .btn{
    position: relative;
    width: 88px;
    height: 25px;
    border: none;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    background: url("../../img/nva_packet.png")no-repeat 0 -135px;
    margin: 7px auto 13px;
    display:block;
    outline: none;
}
.Join_form .btn:hover{
    color: #dad5d5;
}
.Join_form .btn:active{
    color: #0c80d2;
}
.Join_list{
    background: url("../../img/nva_packet.png")no-repeat 9px -160px;
    width: 192px;
    margin: 0 auto;
}
.Join_list li{
    color: #434343;
    font-size: 13px;
    border-bottom: 1px solid #fff;
    padding-left: 62px;
}
.Join_list li a{
    color: #434343;
    text-decoration: none;
}
.Join_list li a:hover{
    color: #af0000;
    text-decoration: none;
}
.Join_list li a:active{
    color: #0c80d2;
}
.Join_list li:nth-child(1){
    height: 45px;
    line-height: 42px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.Join_list li:nth-child(2){
    padding-top: 5px;
    height: 43px;
    line-height: 18px;
}
.Join_list li:nth-child(3),li:nth-child(4){
    height: 45px;
    padding-top: 5px;
    line-height: 18px;
}
.payment{
    position: relative;
    margin-top: 33px;
    left: 0px;
}
/*左边栏目样式*/
.sort{
    position: relative;
    height: 19px;
    background: none;
    margin-top: 28px;
}
.sort dl{
    float: left;

}
.sort dt{
    float: left;
    padding-right: 8px;
    color: #747474;
    font-weight: bold;
    font-size: 12px;
}
.sort dd{
    position: relative;
    width: 117px;
    float: left;
     margin-right: 12px;
}
.sort h2{
    width: 117px;
    height: 17px;
    font-size: 12px;
    color: #747474;
    font-weight: normal;
    border: 1px solid #ccc;

}
.sort a{
    position: absolute;
    height: 19px;
    width: 19px;
    left: 100px;top: 0;cursor: pointer;
    background: url("../../img/nva_packet.png")no-repeat 0 -365px;
}

.sort a:hover{
    background: url("../../img/nva_packet.png")no-repeat -19px -365px;
}
.sort ul{
    width: 117px;
    border: 1px solid #ccc;
    border-top: none;
    float: left;
    display: none;
    background: #0c80d2;
    position: absolute;
    left: 0;top: 18px;
}
.sort li{
     font-size: 12px;
    line-height: 20px;
    text-indent: 5px;
    cursor: pointer;
}
.active{
    background: white;
}
.sort p{
    position: relative;
    float: right;
    color: #747474;
    font-size: 12px;
}
.sort p strong{
    color: #999;
    padding-left: 20px;
}
.sort span{
    padding: 0 5px;
}
/*商品图片展示列表*/
.pic_list {
    width: 706px;
    overflow: hidden;
}
.pic_list ul{
    width: 736px;
}
.pic_list li{
    float: left;
    width: 182px;
    height: 200px;
}
.pic_list h2{
    font-size: 18px;
    height: 56px;
    line-height: 62px;
    color: #666;
    overflow:hidden ;
}
.pic_list h3{
    float: left;
    color: #666;
    font-size: 15px;
    line-height: 16px;
}
.pic_list a{
    display: block;
    width: 156px;
    height: 116px;
    border: 1px solid #c6c6c6;
    margin-bottom: 6px;
}
.pic_list a:hover{
    border: 1px solid #66182e;
}
.pic_list p{
    float: left;
    color: #333;
    font-size: 13px;
    line-height: 16px;
}
.pic_list  span{
    color: #b20e00;
}
.page{
    text-align: center;
    border-bottom: 1px solid #cdcdc8;
    padding-bottom: 8px;
}
.page a{
    display: inline-block;
    height: 20px;padding: 0 4px;
    color: #b20e00;
    font-size: 20px;
    text-decoration: none;
}
.page a:hover,.active{
    background: #b20e00;
    color: #fffdf8;
    text-decoration: none;
}
.scroll_list{
    position: relative;
}
.scroll_list h2{
    font-size: 20px;
    color: #292929;
    padding: 20px 0 0 10px;
}
.scroll_wrap_l{
    position: relative;
    height: 194px;
    background: url("../../img/scroll_bg.png")repeat-x 0 -472px;
}
.scroll_wrap_m{
    height: 194px;
    background: url("../../img/scroll_bg.png")no-repeat 0 -84px;
}
.scroll_wrap_r{
    height: 194px;
    background: url("../../img/scroll_bg.png")no-repeat right -279px;
    position: relative;
}
.prev, .next{
    position: absolute;
    width: 35px;
    height: 43px;
}
.prev{
    background: url("../../img/scroll_bg.png")no-repeat 0 1px;
    top: 70px;
    left: 1px;
}
.next {
    background: url("../../img/scroll_bg.png")no-repeat right -43px;
    top: 70px;
    right: 1px;
}
.list_wrap{
    position: absolute;
    width: 615px;
    height: 140px;
    margin: 0 auto;
    top: 26px;
    left: 46px;
}
.list_wrap ul{
    height: 150px;
}
.list_wrap li{
    float: left;
    width: 205px;
}
.list_wrap p,.list_wrap a{
    width: 145px;
    margin: 0 auto;

}
.list_wrap p{
    color: #b20e00;
    font-size: 12px;
    text-align: center;
    padding-top: 14px;
    line-height: 16px;
}
.list_wrap a{
    display: block;
    height: 99px;
}
#footer{
    position: relative;
    width: 100%;
    height: 300px;
    background: #0c80d2;
    margin-bottom: 0px;
    left: 0px;
    top: 900px;
}
.footer_bar{
    width: 100%;
    height: 60px;
    background: #130200;
}


